# Cloudflare Account
CLOUDFLARE_ACCOUNT_ID=52b9359bbe5496b5651196030199414a

# Cloudflare D1 Database
D1_DATABASE_NAME=tanitim
D1_DATABASE_ID=43da2555-5ea0-4f92-ba7a-6298bf015e1c

# Cloudflare R2 Storage
R2_BUCKET_NAME=tanitim
PUBLIC_CDN_URL=https://cdn.tanitim.az

# (Optional) R2 S3 Token credentials
# R2_ACCESS_KEY_ID=
# R2_SECRET_ACCESS_KEY=
